@charset 'utf-8';

body { overflow: visible; }

// Common
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}
.pull-left { float: left; }
.pull-right { float: right; }
.text-left { text-align: left !important; }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.hidden_txt {
	font-size: 0 !important;
	// line-height: 0;
	// text-indent: -9999px;
	// overflow: hidden;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

// display
.dis_none { display: none !important; }

.hover:hover { cursor: pointer; }


// Common
.clearfix::after {
	content: '';
	display: table;
	clear: both;
}

// common
.link {
  &:hover {
    cursor: pointer;
  }
}

.sub_title {
  display: inline-block;
  margin: 4px 4px 14px 4px;
  font-size: 20px;
  font-weight: bold;
}

// text
.text--underline { text-decoration: underline; }
.text--underline-hover:hover { text-decoration: underline; }
.text--bold { font-weight: 600; }
.text--right { text-align: right; }
.text--left { text-align: left; }

// Text
.txt_red { color: red !important; }
.txt_orange { color: orange !important; }
.txt_yellow { color: yellow !important; }
.txt_green { color: green !important; }
.txt_blue { color: blue !important; }
.txt_black { color: #000 !important; }
.txt_bold { font-weight: bold; }

// Background
.bg_white { background-color: white !important; }
.bg_red { background-color: red !important; }
.bg_orange { background-color: orange !important; }
.bg_yellow { background-color: yellow !important; }
.bg_green { background-color: green !important; }
.bg_blue { background-color: blue !important; }
.bg_black { background-color: #000 !important; }
.bg_purple { background-color: purple !important; }
.bg_cyan { background-color: cyan !important; }
.bg_pink { background-color: pink !important; }
